    body {
        font-family: Roboto;
    }
    
    h4 {
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 18.1042px;
        line-height: 150%;
        /* or 27px */
        color: #323F4B;
    }
    
    .logo {
        height: 80.46px;
        margin-top: 5%;
    }
    
    .cta {
        height: 405px;
        width: 100%;
        background: #00529B;
        padding: 50px;
    }
    
    .arrowback {
        margin-top: 3%;
    }
    
    .acc_option {
        height: 78px;
        border: 0.5px solid #1769B1;
        box-sizing: border-box;
        margin-top: 10px;
    }
    
    .cta_btn {
        width: 100%;
        height: 50px;
        background: #00529B;
        border: none;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
        border-radius: 3px;
    }
    
    .reg {
        margin: 15px;
    }
    
    .list_title {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #111111;
        opacity: 0.8;
    }
    
    .list_desc {
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 20px;
        color: #111111;
        opacity: 0.8;
    }
    
    .wrappper {
        margin: 10px;
    }
    
    .svg_container {}